[2016-01-05 01:43] HaloFour opened #1 "VerifyError with CompletionStage parameters"
First I'd like to congratulate you on going 1.0.  I've been watching this project since it was a part of Orbit last year with anticipation as I currently write a lot of asynchronous code in Java and having come from C# found it incredibly tedious, even after the addition of `CompletableFuture<T>`.

I am currently trying to play with a sample project to get my feet wet and I'm getting a `VerifyErro

[2016-01-05 02:25] JoeHegarty commented on #1
Looks like this is just an edge case for the code generation that we haven't ran into before.
I'll let @DanielSperry take a look as he's the resident expert on async.

Thanks!
Joe

[2016-01-05 15:56] DanielSperry commented on #1
I'm on it.

[2016-01-05 16:57] DanielSperry commented on #1
@HaloFour, Thanks for the report and for the testcase.
I fixed the problem with CompletionStage arguments.
And incorporated your pull request with the test case.

[2016-01-05 16:57] #1 closed

[2016-01-05 17:42] JoeHegarty commented on #1
This fix is in 1.0.1 and has been pushed to maven central.
Thanks for reporting it!

[2016-01-18 13:54] HaloFour opened #3 "Support arbitrary implementations of CompletionStage<T>"
Currently there is support for instrumenting methods that return/await classes that derive from `CompletableFuture<T>`.  How about also supporting classes or interfaces that implement or extend `CompletionStage<T>`, with which the class would be treated as a `CompletionStage<T>` during instrumentation?

I've seen a couple of libraries where methods returns interfaces that extend `CompletionStage<T

[2016-01-18 17:20] DanielSperry commented on #3
@HaloFour,
ea-async currently supports instrumenting methods that return/await classes that derive from CompletionStage<T>.

The only requirement is that those CompletionStages implement the method [CompletionStage.toCompletabeFuture](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletionStage.html#toCompletableFuture--)

[code]

see one example here: https://github.com/electron

[2016-01-18 17:25] DanielSperry commented on #3
I think there might be a case for supporting for google's and spring's ListenableFutures.

[2016-01-18 17:29] HaloFour commented on #3
@DanielSperry

They changed that in Lettuce 4.x:

https://github.com/mp911de/lettuce/blob/4.0/src/main/java/com/lambdaworks/redis/RedisFuture.java

I tried to implement this in a sample project and ea-async wouldn't instrument the class:

[code]

Worse, if I change the return type of `getAsync` to `CompletionStage<String>` then the method is instrumented but execution produces a `VerifyError`:

[c

[2016-01-18 17:32] HaloFour commented on #3
@DanielSperry

That would be awesome.  Would multiple shaded versions of ASM need to be used in order to produce bytecode compatible with different versions of the JVM, or would you only target 8.0+?

Even better might be something that would allow pluggable instrumentation, although I have no idea how that would work.  The project I'm working on is a Jersey REST server and we use our own Promise-

[2016-01-18 20:30] DanielSperry commented on #3
So:

1) not instrumenting something that returns anything other than CompletionStage or CompletabeFuture makes sense. I botched my first response. I should have said your method must return CompletionStage or CompletableFuture. It can't just return any future because what the instrumentation does is to replace:

await(fut);

with:

if(!fut.[toCompletableFuture()].isDone()) {
   return fut.exceptio

[2016-01-18 21:23] HaloFour commented on #3
@DanielSperry

Makes sense.  Shouldn't the incompatible return type have tripped the warning on a non-async method during instrumentation and caused the maven build to fail?

[2016-01-18 21:59] DanielSperry commented on #3
Yes, it should. But since apparently the generated bytecode is wrong and the class is not being loaded during the build time instrumentation (I'm assuming you are doing build time instrumentation with the ea-async-plugin) then the bytecode is only being verified by the jvm when you run it.

We need to and fix this particular bug. And look into letting the jvm validate the instrumented classes duri

[2016-01-18 22:24] HaloFour commented on #3
@DanielSperry

I meant specifically warning that the method that was calling `Async#await` wasn't returning either `CompletionStage<T>` or `CompletableFuture<T>` and thus would not be instrumented.  However if instrumentation could validate that the generated bytecode is verifiable that would probably be a good thing, catch issues before they explode at runtime.

[2016-02-02 23:07] paulseawa opened #4 "Class Instrumentation breaks when local variable set to null"
If you initialize a local variable to null, then call an await() within a try catch block, you get ClassNotFoundException on the class in which you did that, during that classes initialization.

Simply by removing the null initialization works around the issue.

[code]

[2016-02-03 20:11] JoeHegarty commented on #4
Thanks for the report. @DanielSperry is going to take a look at this shortly.

[2016-02-11 16:25] DanielSperry commented on #4
I'm on it now.

[2016-02-12 22:31] DanielSperry commented on #4
fixed. the problem would also occur with:

[code]

and

[code]

and

[code]

[2016-02-12 22:34] #4 closed

[2016-02-12 22:44] JoeHegarty commented on #4
This is resolved in the 1.0.2 release - https://github.com/electronicarts/ea-async/releases/tag/v1.0.2

[2016-02-14 21:32] DanielSperry commented on #3
Quite a backlog here...

  - Check why the uninstrumentable methods are not being reported (they should have been)
  - Fix that verification error.
  - Investigate the feasibility of supporting some other futures (google's and spring's)

[2016-06-19 04:18] JoeHegarty commented on #3
This issue has been idle for a very long time. I'm going to close this for now.
Please feel free to open other issues to follow up on any of these points.

[2016-06-19 04:18] #3 closed

[2016-09-13 23:14] paulseawa opened #6 "java.lang.VerifyError: on startup"
This is a strange one.  Under very specific circumstances, our code is getting a verification error on startup when using runtime instrumentation.  I've tried stripping it down to its bare essence, but it doesn't really make a lot of sense to me.  I'm sure there's a larger pattern I'm not seeing.

Basically you need a local String initialized to null then an numeric variable initialized to anythin

[2016-09-13 23:16] JoeHegarty commented on #6
Thanks for reporting this. Do you have any thoughts @DanielSperry? I'll dig in tomorrow if not.

[2016-09-13 23:53] JoeHegarty commented on #6
Looking at this @DanielSperry. It looks like the fix you made here: https://github.com/electronicarts/ea-async/commit/fdc80980e424785242b33ec4afd3a72cc6aa2869 actually resolved this issue as well as the null issue.
You then rewrote that fix to be more elegant and it looks like it continued to fix the null case, but doesn't fix this one.

[2016-09-14 16:33] JoeHegarty commented on #6
Repro test I am using:

[code]

[2016-09-14 16:33] DanielSperry commented on #6
it's probably the data flow for that local variable.
the jvm demands that you account for the variable contents at all times.

Since ea-async modifies the code flow (adding new jumps) it needs to add extra stack info for all jumps it adds.
The code flow used to rely only on what asm provided. But that missed a few cases.
I addressed most of those cases with that commit.

Thanks for the example.
I'

[2016-09-14 16:38] DanielSperry commented on #6
pasting the sample error message Joe sent me

[code]

[2016-09-29 21:10] bennylut opened #7 "debugging transformed code"
Hi, first I just want to say - great job!

I noticed that when I use this library I cannot debug a method that has been modified, when I try to I receive the following error:
`JDWP exit error JVMTI_ERROR_NONE(0): getting frame location [stepControl.c:641]`

 is this a limitation that you planning to resolve?

[2016-09-30 03:07] JoeHegarty commented on #6
Any news on this one @DanielSperry ?

[2016-09-30 03:12] JoeHegarty commented on #7
Hi!
If you use the `-javaagent` JVM parameter as described in the README to run ea-async, you shouldn't run into any crashes, but it doesn't really solve the issue at hand.
Unfortunately, debugging is still not going to work as expected (you will get odd behaviour with breakpoints and stepping through your code). This makes sense when you think about what ea-async is going by rewriting the bytecod

[2016-09-30 20:38] bennylut commented on #7
I see, What if you had a code transformation for async that only add bytecode to the existing method and don't completely modify the existing byte code - doesn't then the existing debug information will be kept relevant and therefore will allow debugging?

Let me try to explain myself: (and on this occasion also say sorry for the long post :) )

assume that you have the following class:

[code]
If

[2016-11-01 20:42] DanielSperry commented on #6
I've added a PR with a fix for it.
Sorry for the delay.

[2016-11-01 20:43] JoeHegarty commented on #6
Awesome. Thanks Daniel.

[2016-11-01 20:43] #6 closed

[2016-11-01 20:55] JoeHegarty commented on #6
Resolved in 1.0.5
https://github.com/electronicarts/ea-async/releases/tag/v1.0.5

[2017-01-24 12:42] woppa684 opened #9 "Example 2 with just CompletableFuture"
Something like this? You can argue whether it looks ugly but I still think it's not that bad.

[code]

[2017-01-24 19:00] DanielSperry commented on #9
@woppa684, Not bad. :D
but not quite equivalent.

What happens if inventory.giveItem throws an exception before returning a future?

For context woppa684 is responding to README.md :
https://guides.github.com/features/mastering-markdown/

[2017-01-25 08:27] woppa684 commented on #9
Then that method is poorly programmed ;)

[2017-01-25 21:57] DanielSperry commented on #9
that happens... :)

You'd have to add an extra exception catcher and either repeat the refund block or wrap the exception as a future.

Then I think it would semantically similar to the async-await code.
Minus some potential mismatches on how the exceptions are nested.

[2017-02-21 21:58] johnou commented on #9
Another nit is that if bank.decrement(cost) throws an exception thenAccept will never fire and the future returned by buyItem will never complete, might be a little more robust to use handle.

[2017-03-08 20:33] #9 closed

[2017-03-22 08:07] dwing4g opened #10 "Error instrumenting infinite loop"
[code]
java -cp ../lib/asm-debug-all-5.0.4.jar;. -javaagent:../lib/async-stub.jar test.TestAsync

java.lang.RuntimeException: Error instrumenting: test/TestAsync
        at com.ea.async.instrumentation.Transformer.transform(Transformer.java:163)
        at sun.instrument.TransformerManager.transform(TransformerManager.java:188)
        at sun.instrument.InstrumentationImpl.transform(Instrumentatio

[2017-03-27 18:48] DanielSperry commented on #10
Thanks for the report. I'm looking into it.

[2017-03-27 18:53] DanielSperry commented on #7
@bennylut It is usually still possible to debug the instrumented code. the line information is not lost.

The only situation where we have problems debugging it is when the instrumentation is done in runtime without the java agent. Offline instrumentation; or runtime instrumentation with the java agent; seem to debug fine.

However, your issue might be something we haven't encountered before. Whic

[2017-12-13 20:05] HaloFour opened #11 "ea-async with Java 9"
I'm testing using ea-async with a SpringBoot 5.x application I am working on.  When I try to compile and run this on Java 9 I get the following error:

[code]

I am doing the instrumentation at compile-time via the maven plugin.

A [quick Googlin'](https://github.com/orfjackal/retrolambda/issues/119) seems to indicate that the Java bytecode validator got a little better/stricter with Java 9 so wha

[2017-12-13 20:15] HaloFour opened #12 "ea-async copying annotations to instrument-generated methods"
I'm testing ea-async with a Spring 5 application I am working on.  This is a part of a tech spike/evaluation for implementing asynchronous programming throughout our team.  What I've noticed is that the ea-async instrumentation is copying the annotations of the instrumented method to the generated methods and in some cases this is causing problems with Spring.

For example, take the following cont

[2017-12-13 20:28] JoeHegarty commented on #11
Going to ping @DanielSperry to see if he has any idea.
In general we're reducing our reliance on ea-async internally and pursuing more reactive programming based model. Orbit 2.x will no longer use it and will instead use reactive streams at the boundaries rather than futures.

[2017-12-13 20:36] HaloFour commented on #11
Ah that's a shame.  I love reactive streams but to me they suffer from the same inside-out development model that futures do which can make it challenging to adopt, especially across a team used to traditional imperative programming.

Any chance that ea-async might evolve to support reactive in a similar vein to how C# is planning on implementing language support for [asynchronous streams](https:/

[2017-12-14 01:37] JoeHegarty commented on #11
I hadn't seen that proposal for C# before but it's interesting for sure.
We don't have any firm plans around that kind of system for ea-async at present.

My main issue (if you want to call it that) with ea-async is that while it undoubtedly gives you a more natural programming model when working with futures you pay significant costs for that.

Debugging becomes a lot more difficult because there

[2017-12-14 01:42] JoeHegarty commented on #12
This one is interesting because I can see an argument as to why you'd want the behavior both ways depending on the use case.
I think I'd err on the side of not duplicating the annotations as in most cases that feels like the right thing to do.

Quite why they are copied isn't immediately obvious from a quick glance at the code so I'd need to take a closer look.

[2017-12-14 02:04] HaloFour commented on #11
Thanks for the update.  It's a little disheartening but I can totally understand where you're coming from.

I completely agree about the state of asynchrony in Java.  It's not just the language, it seems that the entire ecosystem doesn't "get it".  There seems to be an incredibly pervasive idea that threads are really cheap, so spin 'em up and block 'em all day long.  I've quite literally seen net

[2018-02-05 16:47] bvella opened #13 "Derived project licence question"
I have used this code as a basis for an async/await transformer. I have changed the api significantly, which is why I am not going to submit a pull request. I would not mind discussing the changes though, so we can make both projects better or possibly merge them at some point, but this is for another time.

I have retained the licence text in 2 source filed that I used from this project.
Q1: Is i

[2018-02-05 18:28] JoeHegarty commented on #13
Hi @bvella
I am not a lawyer but my take is this:
1. Retaining the license only on the top of the files which are EA licensed should be sufficient.
2. Given that maven central requires you to push the source I think the above should be sufficient. It's not typical to bundle the license in a binary library jar as far as I am aware.

I'd definitely be interested in seeing the work you have done and

[2018-02-06 17:33] bvella commented on #12
@JoeHegarty  you probably need to override  visitAnnotation, visitParameterAnnotation and visitTypeAnnotation in MyMethodVisitor and ignore the visit when applying to the continuation method. That way, the continuation method will not have the same annotations.

It might also be a good idea to mark the continuation method as synthetic, so that libraries that scan class methods can skip the continu

[2018-02-06 18:05] bvella commented on #13
Thanks for the info @JoeHegarty. I will push the library soon with following the above. I don't know if these comments are the appropriate place to discuss the changes I made. Here's a summary of the changes and rationale. Feel free to suggest an alternate place to continue the discussion.

**API**

Although your approach appears to be non-invasive (transforming the same method in-place), the abst

[2018-02-27 20:56] #7 closed

[2018-04-03 08:35] JoeHegarty commented on #11
Resolved in 1.1.0 which is now available.
https://github.com/electronicarts/ea-async/releases/tag/v1.1.0

[2018-04-03 08:35] #11 closed

[2018-04-13 06:32] marcovasapollo opened #15 "Custom Executor Injection"
I think you really did a fantastic job.

According to you, Is it possibile to inject, somehow, a custom Executor to let the generated CompletableFutures asynchronously run into a specific Context (in my case, Vert.x)?

If a lib verticalization is needed, what point of the source do you suggest to edit?

[2018-05-25 02:05] dunmengjun opened #16 "No async/await is implemented without thread scheduling"
I have a doubt, I looked at your code, you use Futrue.join () method inside the Aysnc.await method to achieve the wait result returned, so there is no thread scheduling, how can we call it async/ Await?

[2018-05-26 04:57] dunmengjun opened #17 "I suggest adding an async static method to the Async class"
I suggest adding an async static method to the Async class，like this
[code]
The reason is that providing a more convenient way to create asynchronous tasks is the default choice

The program will be written like this
[code]
This will hide the details of constructing CompletableFuture
What do you think?

[2018-05-26 05:23] dunmengjun opened #18 "the maven plugin running an error"
I use intellij idea
command is mvn clean install
the error is
[code]
Too much, I only posted part of it
my pom file is
[code]
I guess it's not related to development tools? You used eclipse when developing this plugin, so it led to some coupling you didn't expect?

[2018-05-26 05:30] JoeHegarty commented on #18
Actually we use IntelliJ and I have never seen this problem before.
Do you have IntelliJ set to use an external and old version of maven? Google suggests this error occurs when plugins are built for newer versions of maven.

[2018-05-26 06:01] dunmengjun commented on #18
Yes, you are right,I'm using the default maven version of IntelliJ. The version number is 3.3.9. I've solved this problem with the 3.5.x I downloaded.

[2018-05-26 06:01] #18 closed

[2018-05-26 06:11] dunmengjun opened #19 "Is there a plugin to support gradle?"
:)

[2018-05-26 06:53] JoeHegarty commented on #19
There is currently no Gradle plugin.
The easiest way would likely be to to use the command line tool as the final step in your Gradle build.
I’d like to support Gradle but I haven’t had time to look into that yet.

[2018-05-26 07:28] #17 closed

[2018-05-31 13:05] domdorn opened #20 "provide annotation processor"
I'm just trying out ea-async on a project... while compiling with maven works great, I'm having trouble integrating this in my dev-workflow where I'm using intellij idea.

Usually, libraries like this one (e.g. immutables.org) provide a annotation-processor that I can plug into my IDE workflow.. at the moment, I'm unable to get idea to run the maven plugin on automatic recompilation (which I have

[2018-05-31 18:30] JoeHegarty commented on #20
Thanks. I agree. An annotation processor and gradle plugin are high on my list.

[2018-05-31 19:39] domdorn commented on #20
Actually, I think it should be a compiler plugin, as we're not processing any annotations.

[2018-06-06 00:44] andy-yx-chen commented on #10
Will this be fixed? how well is this project been maintained

[2018-06-06 01:15] JoeHegarty commented on #10
The project is maintained and we recently introduced compatibility for JDK9/10.
I would like to take a look at this issue but unfortunately I haven't had time and as it's fairly easy to work around it's not a super high priority for us right now.

I'd welcome any contributions and I hope to have more time to dedicate to this project in the near future.

[2018-06-13 17:06] andy-yx-chen commented on #10
I think this is fixed, I tested with the following code,
`public static CompletableFuture<Void> test1() {
        String value = Async.await(test2());
        System.out.println(value);
        String value1 = Async.await(test2());
        System.out.println(value1);
        for(;;) {
            System.out.println(Async.await(test2()));
        }
        //return CompletableFuture.completedFuture

[2018-06-13 18:28] andy-yx-chen commented on #20
As workarounds, you can insert Async.init() into your code, it will be removed anyways

[2018-07-14 12:12] juddgaddie commented on #19
+1

[2018-08-07 03:36] the-world-wang opened #26 "is possible to support slf4j mdc"
![2018-08-07 11 31 26](https://user-images.githubusercontent.com/15126992/43752921-db9d3858-9a35-11e8-893f-d367b0067761.png)
code like this logged during callback ?
or some good suggestion？

[2018-08-10 03:57] JoeHegarty commented on #26
I am not really sure what the question is here. What kind of support do you need?

[2018-08-10 09:05] the-world-wang commented on #26
I mean can I get some variable from context(maybe ThreadLocal) in callback？

[2018-08-20 23:54] JoeHegarty commented on #26
ea-async doesn't have any impact on threading, it's just like using `.thenRun` or `.thenAccept` etc on the CompletableFuture so the threads will never change unless you explicitly request it. As such this should just work.

[2018-08-20 23:54] #26 closed

[2018-09-14 14:29] pirix-gh opened #28 "How to cancel a Promise ?"
How do you cancel a Promise that was submitted to await() ?
Will I be able to call .cancel() while it's being processed ?

[2018-10-10 03:41] lukehutch commented on #15
I had the same question, and then I found this, which might solve the problem for Vert.x at least, although it sets up a new fork-join pool rather than using Vert.x's thread pool:

https://github.com/cescoffier/vertx-completable-future

There might be some parts of that codebase that could be added directly to EA Async to enable async/await on top of a `Future`-based or callback-based API.

[2018-10-10 18:03] JoeHegarty commented on #15
We're certainly open to any PRs etc that support additional functionality such as this, but we have no plans to add this to the library ourselves at this time.

[2018-11-06 14:45] marcovasapollo opened #29 "Error with Arrays"
The instrumented code:

[code]

Raises me the following exception:

[code]
It is raised when the class is loaded into `ClassLoader` for the first time in application.
I am sure that the problem is in that piece of code because I tried a lot of alternatives, and solved using:

[code]

But I want my customers enjoy development experience through my SDK...
Can you help, please?

[2018-12-01 06:47] elventear commented on #19
Using this snippet in my build script seems to be working for me:
[code]

[2019-02-28 17:23] DidierLoiseau commented on #12
We are looking into using EA Async in our code, but according to our tests, this issue is not fixed by #31. In fact, I couldn't find anything indicating that Spring should ignore synthetic methods (I think Spring only tries to [resolve _bridge_ methods](https://github.com/Skelotron/spring-framework/blob/master/spring-core/src/main/java/org/springframework/core/BridgeMethodResolver.java), for gener

[2019-03-01 17:45] DidierLoiseau commented on #12
Here is a MCVE that reproduces the problem, hope this helps:

`src/main/java/eaasync/test/EAAsyncSpringApplication.java`:

[code]
`pom.xml`:
[code]

[2019-03-08 15:13] DidierLoiseau opened #34 "Says "the method invoking await must return a CompletableFuture" but it does already"
If you forget to instrument the code, the wrong warning message is printed:

instead of

As shown by the following simple example:

[code]

This is because calling `InitializeAsync.isRunning()` triggers the class initialization, and only enters that method once `isRunning = true`. The only ways to have `isRunning()` returning false is if either the initialization crashes or if called from multiple

[2019-03-19 14:49] lukyer opened #35 "Java 11"
Any plans for LTS Java 11? :)

[2019-03-19 17:26] JoeHegarty commented on #35
I believe this should already work with any of the JDK 11s based on OpenJDK.
I haven't tested but I believe it should work with Corretto, Azul Zulu and Oracle.

Did you have something specific in mind that isn't currently working?

[2019-03-19 21:09] slisaasquatch opened #36 "Without EA Async (2)"
[code]
I'm not saying it's prettier than the example, but I don't think this is ugly.

[2019-03-20 07:15] JoeHegarty commented on #36
Definitely more difficult to follow the flow though, which is the main issue with promises/futures.

[2019-03-20 07:15] #36 closed

[2019-04-02 15:56] Im-dex opened #38 "Unwrap CompletionException automatically"
Hi! Thanks for the nice library. But I have a small issue using it. If you want to catch an exception from `await` call it always has been wrapped into CompletionException, and you should write extra checks just to verify nested exception.

Example:
[code]

It would be great to have an easy way to avoid unnecessary wrapping.

[2019-04-02 22:02] JoeHegarty commented on #38
This has been a subject of much debate internally on whether ea-async should unpack the exception or not.
The argument for making the change is as you rightly point out, it's annoying to have to catch `CompletionException` and then unpack it.
The argument for returning the `CompletionException` as is, is that it's consistent with the JDK API, such as if you call `CompletableFuture.join`.

[2019-04-03 11:15] Im-dex commented on #38
Is it possible to make behaviour configurable? For example, as a java agent option

[2019-04-03 16:56] Maia-Everett commented on #28
I'm not an ea-async developer, but I see no reason why you shouldn't be able to cancel a `CompletableFuture` being awaited. It should complete with a `CancellationException` and thus cause the await to throw, same as if any other exception occurred during the `CompletableFuture`'s resolution.

[2019-04-03 17:13] Maia-Everett commented on #38
In my opinion, there is one reason not to auto-unpack the `CompletionException` (even if it *is* annoying).

If you want to catch a checked exception, the compiler will complain, because as far as it knows, `await` doesn't throw checked exceptions. An ugly workaround would be to catch `Exception` and check its type using `instanceof`, which is hardly less verbose than unwrapping the `CompletionExc

[2019-04-03 17:32] JoeHegarty commented on #38
That'a correct @Maia-Everett. ea-async isn't an async library itself, so things like Cancellation are provided by the underlying library, CompletableFutures in this case.

[2019-04-03 17:32] JoeHegarty commented on #28
That'a correct @Maia-Everett. ea-async isn't an async library itself, so things like Cancellation are provided by the underlying library, CompletableFutures in this case.

[2019-04-03 17:32] #28 closed

[2019-04-03 17:42] JoeHegarty commented on #38
Yeh @Maia-Everett. That has been one of the reasons folks have discussed internally.
In general I'm not a fan of doing the unpacking because it's inconsistent with the expected behavior of CompletableFuture.

[2019-04-11 16:37] TheMulti0 commented on #7
I still encounter that problem in IntelliJ, I encountered using the Gradle instrumental tool, and the runtime option `Async.init();`

[2019-04-12 08:12] TheMulti0 opened #39 "Wrap return types of methods that use await into CompletableFuture automatically"
Hi! Thanks for the great library.

There's a thing in this library that annoys me when I use it, and hope that you can add.
In C#, just like in this library everything after the `await` keyword is converted into a callback under the hood.
In addition, `async` methods that use the keyword `await` must return `Task` (or `void`, but not recommended), just like in this library where every method that

[2019-04-12 11:10] hufuman opened #40 "How to use ea-sync in spring boot"
Hi, thanks for great jobs!

I tried this in spring boot service, I found that await works like sync function to service, am I right ?

consider codes:

`

    @ResponseBody()
    @PostMapping("query.do")
    public QueryResult query(@RequestParam int pageNum) {
        QueryResult result = new QueryResult(); <1>
        result.setResult(await(queryResult(pageNum))); <2>
        return result; <3>

[2019-04-12 17:32] JoeHegarty commented on #39
I understand what you're asking for, but I have concerns.

In an ideal world I agree it would be much better for us to be able to just return the type unwrapped, but the problem I see is that an IDE would not know about it. The key thing with EA async right now is that it's perfectly valid Java and the call to await does nothing until instrumentation, so the code appears as valid in whatever IDE y

[2019-04-12 17:34] JoeHegarty commented on #40
I'm not super familiar with spring boot, but is QueryResult derived from CompletionStage/CompletableFuture?
EA async instrumented methods must return and can only await on CompletionStage derived futures currently.

[2019-04-12 17:34] #38 closed

[2019-04-12 17:34] #35 closed

[2019-04-12 18:37] TheMulti0 commented on #39
Thanks for the quick reply! I understand it might be problematic, therefore I am asking, do you think that there is a better way to work with your library and dealing with CompletableFutures less?

[2019-04-12 23:36] JoeHegarty commented on #39
I don't think there is really anything you can do.
EA Async just simply allows you to await on CompletionStage, so in terms of creating the futures etc you just use the standard methods `CompletableFuture.completedFuture`. You can of course create better convenience method, for example in Orbit we have `Task.fromValue` etc

[2019-04-13 07:58] TheMulti0 commented on #39
I see. Thanks!
Are you certain that each method utilizing await must return a CompletableFuture? Cannot those methods even return `void`?
But I will look into Orbit's Tasks.

[2019-04-15 04:18] hufuman commented on #40
Thank JoeHegarty, I'll have a try.

[2019-04-15 15:27] TheMulti0 commented on #39
Hi @JoeHegarty . Sorry for buzzing you, but did you see my last comment?

[2019-04-18 23:47] JoeHegarty commented on #39
My apologies, has been a crazy week.
Methods must return a CompletableFuture/CompletionStage, that is an absolute requirement.

The reason for this is fairly simple:
* EA async transforms creates a future that will be completed at the end of the method (this is what is returned)
* EA async then splits your method into a state machine, where each step creates a future, which is then used to schedul

[2019-04-19 07:13] TheMulti0 commented on #39
Perfect. Thanks!

[2019-04-19 07:13] #39 closed

[2019-05-26 23:27] lpfeup opened #42 "java.lang.VerifyError is being thrown in specific case"
`java.lang.VerifyError` is being thrown with the following code example:

[code]

With any of the following changes to the `test()` method, it no longer throws the error:

1) removing `System.out.println(myModel.myInt.doubleValue());`:
[code]

2) moving up `System.out.println(myModel.myInt.doubleValue());` by 1 line:
[code]

3) converting `testModelArr` to list for the `for` loop:
[code]

Any idea

[2019-05-26 23:31] lpfeup commented on #42
Full error detail
[code]

[2019-05-26 23:42] lpfeup commented on #42
Could this be related to https://github.com/electronicarts/ea-async/issues/29?

[2019-05-28 17:15] JoeHegarty commented on #42
Yes, it could be related. There are a couple of cases where the generated bytecode is not correct.
Unfortunately I haven't had a chance to look into them.

[2019-09-06 06:52] hufuman commented on #40
It's ok, many thanks.

[2019-09-06 06:52] #40 closed

[2019-10-24 12:16] Tancred423 opened #44 "Agent failed to start"
At first, when I tried to run my .jar which uses the ea async dependency, I got the error that it couldn't find the class agend in my manifest. Therefore, I added
`Agent-Class: com.ea.async.instrumentation.Agent`
to my MANIFEST.MF and it seemed to fix _this_ error, but now I got a new one and I really don't know what I am doing wrong.

It's a maven project so that's what I did:

1. Added the depen

[2019-11-05 10:24] TryingToImprove commented on #34
It also seems like if you have instrumented your code it will always give:

I am not sure if the `else` part should have been something like below instead

[code]

[2019-11-20 13:30] azurvii opened #45 "Method references `Async::await` are not taken away"
The instrumentation tool takes away all `Async.await` occurrences, but does not take away `Async::await`. I think this is a bug?

[2019-11-20 18:44] JoeHegarty commented on #45
Yes, this is likely a bug. A PR would be welcome, unfortunately I am unlikely to get time to fix in the near future.

[2019-11-20 18:47] JoeHegarty commented on #44
Do you need the agent on your server?
If you are using the plugin, you should only need the agent for IDE debugging, the best way to do that is to pass it as an argument in your debug config.
The plugin will strip all async/await calls in your built artifact so there is no need to use the agent.

[2019-12-01 11:54] DidierLoiseau commented on #34
@TryingToImprove if you have properly instrumented your code, the call to `await()` is removed, so you shouldn't get a warning.

[2019-12-12 18:25] spyro2000 commented on #34
Getting this warning, too, despite initialized directly in the main method with Await.init().

[2020-01-09 20:31] JoeHegarty commented on #19
Resolved in #46 thanks to @Fleex255

[2020-01-09 20:31] #19 closed

[2020-05-30 05:35] mistermaek opened #47 "Problems with ea-async-maven-plugin"
Hi,
i just found your amazing async await library and wanted to use maven for the integration, but unfortunately i got an error after entering the ea-async-maven-plugin into my pom.xml.
I git the following errors:

[code]
I used the provided example:
[code]
Any ideas what i am doing wrong?
Thanks in advance.

[2020-08-15 11:06] pczmr8v5n454iycf opened #50 "How does ea-async process synchronized blocks?"

[2020-09-07 08:49] gary-archer opened #52 "Java 14 Support?"
Nice library guys - have been using it for a while - makes non blocking Rest API code much easier to write reliably.

Just wondered if it could be updated to support the latest Java, which I was trying to use?
I believe the below issue is related to the version of ASM dependencies.

Not massively urgent, but nice to keep your library working with latest versions.

_Caused by: java.lang.IllegalArgu

[2020-10-29 02:48] itboy2009 opened #54 "What is the value of this?"
await(blockSomeThingFuture());

 just only equals to

this.blockSomeThingFuture().toCompletableFuture().join();  //  block!!!

Why is it so complicated?

Or I didn’t understand, I look forward to your sharing

[2020-10-29 11:54] HaloFour commented on #54
@itboy2009

The point of the project is to make it look very easy to write non-blocking code.

The project includes a class transformer that rewrites the bytecode of your methods so that they don't actually block any threads.  When the execution of the method hits a call to `await()` on `CompletableFuture` that isn't `done` it wires up a callback on `whenComplete` and returns from the entire metho

[2020-10-30 02:29] itboy2009 commented on #54
@HaloFour

First of all, thank you for sharing
However, the test result is not what I expected
The test results show that: await() will block the thread

here is my code:

`import com.ea.async.Async;

import java.io.BufferedReader;
import java.io.InputStream;
import java.io.InputStreamReader;
import java.net.HttpURLConnection;
import java.net.URL;
import java.util.concurrent.CompletableFuture;
imp

[2020-10-30 12:17] HaloFour commented on #54
@itboy2009

The reason might be that the class transformer can't rewrite the class that's already executing.  I'd suggest using the Java agent or the Maven plugin instead of relying on `Async.init()`.  There are instruction on the README of this repository.

[2020-10-31 02:22] itboy2009 commented on #54
@HaloFour

I have used agent, but the result is the same

I don't know where the problem is, You used it earlier, can you show your code？

[2020-12-15 18:20] gary-archer commented on #54
I have found this library very useful, since it enables much simpler non blocking Rest API code than using a callback based model. Many other languages have this syntax, but EA Async is the only tool that enables it for Java. It is quite sad that this is not part of the language itself:

* Javascript / TypeScript / NodeJS use promises
* C# uses tasks
* Kotlin and Swift use Coroutines

As an exampl

[2021-01-12 17:37] papercuptech commented on #54
@itboy2009 can you try this?
[code]

And see if "blockSomeThingFuture(): exit" is output before "blockSomeThingFuture(): before blockIO() call"? If it isn't, then `blockSomeThingFuture` isn't returning to `await()` call before blocking thread

[2021-01-12 22:00] gary-archer commented on #54
If it helps anyone I've put together a very simple **Non Blocking Java Async Await API** to demonstrate usage:

* [Java Async Await API](https://github.com/gary-archer/java-async-await-api)

Code should be simple when using an async await coding model:

* No spinning up child threads
* No callbacks / lambdas
* No blocking code anywhere due to libraries such as [Async HTTP Client](https://github.co

[2021-01-13 01:15] itboy2009 commented on #54
@papercuptech

here is the output:

blockSomeThingFuture(): enter
blockSomeThingFuture(): exit
blockSomeThingFuture(): before blockIO() call
contentLength: 139181, threadId: 14
blockSomeThingFuture(): before blockIO() call
contentLength: 139181, threadId: 14
blockSomeThingFuture(): before blockIO() call
contentLength: 139181, threadId: 14
blockSomeThingFuture(): before blockIO() call
contentLength

[2021-01-13 01:27] itboy2009 commented on #54
@gary-archer

    public static <T> T myAwait(CompletableFuture completableFuture) {
        return (T) completableFuture.toCompletableFuture().join();
    }

Use myAwait() instead of await(), you can get the same result

Is this the value of ea-async? I'm confused

[2021-01-13 19:06] gary-archer commented on #54
Hmm - after compilation, if I upload my AsyncAwaitController.class file to an [Online Decompiler](https://www.javadecompiler.online/) I seem to get a call to .join() which I definitely don't want:

![Screenshot 2021-01-13 at 19 01 16](https://user-images.githubusercontent.com/32388530/104497101-c49bc200-55d1-11eb-8996-55fae6067ba9.png)

So perhaps I'm a little wrong - I will take a closer look at

[2021-01-13 19:29] HaloFour commented on #54
@gary-archer

Are you using the maven or gradle plugins to transform the classes before attempting to decompile them?

I just tried the following simple project:

[code]

The output was:

[code]

You can see from the output that `Test#blockSomeThingFuture` returns immediately when it hits `Async#await` and the `CompletableFuture<Void>` is not yet done.  Then the method resumes executing on the tim

[2021-01-13 19:51] gary-archer commented on #54
Thanks @HaloFour - I've used EA Async quite a bit in the past for sample purposes - the goals behind it are good - and when I've looked at decompiled code it has always looked correct.

A busy week at work this week so maybe I'm just confusing myself. Will look at your code at the weekend. Enjoying the discussion with you guys though ...

[2021-01-13 20:06] HaloFour commented on #54
I haven't used ea-async in a while myself.  My more recent projects are all based on Spring WebFlux and I never found a good synergy between the two nor do I feel like trying to adapt this project to work with Reactor.

One project you might want to keep your eyes on is [Project Loom](https://wiki.openjdk.java.net/display/loom/Main) which looks to bring coroutine primitives and green threads to th

[2021-02-22 21:45] zekronium opened #56 "Await in loops cause memory leak"
Hi,

I am reporting this observation that came up when we noticed our instances getting OOM killed.

This happens in any sort of loop, if the future completes instantly, no issue, but if it enters the synthetic method that the instrumentation creates, all the completable futures will not be GC'd till that method exits.

If you have this loop logic in one method and another method awaits on it, the

[2021-02-24 11:10] dwing4g commented on #56
I also encountered this problem before.
In order to fix it, I had to extend **CompletableFuture** and reimplement **thenCompose()** and **complete()**.

[2021-02-24 13:56] zekronium commented on #56
What changes did you have to make?

[2021-03-12 13:25] sevenaper commented on #19
Thank you very much. But task.execute() can not be used after gradle 5.0. And I change it to compileJava.dependsOn(tasks.instrument), but it does not work. Do you know how to fix it?

[2021-03-12 15:27] Fleex255 commented on #19
I haven't tested that kind of setup, but I think the `instrument` task needs to depend on `compileJava` so that instrumentation occurs after compilation. Then the Java plugin's `classes` task must be made to depend on `instrument` as well so that the build process always includes the instrumentation.

[2021-03-13 02:31] sevenaper commented on #19
I have tried both. But neither of them can work.

[2021-03-18 10:30] Y-StrongBless opened #57 "it's so great for buy once a year"
年货厂还是有点牛批的啊，发现宝藏

[2021-03-18 10:36] Y-StrongBless opened #58 "why not update it?"

[2021-05-07 11:45] Ranger-118 commented on #35
Tested fine with JDK 11, I thought it ends up with JDK 10 too at the beginning as it's been mentioned in README that JDK 8-10 are supported. It would be better to update it to the latest support version. Thanks for this project anyway!

[2021-05-19 00:50] Mart-Bogdan commented on #52
Looks like it could be tended with this PR https://github.com/electronicarts/ea-async/pull/51

[2021-05-25 12:31] silence-coding commented on #56
How to solve the problem

[2021-05-25 12:32] silence-coding commented on #56
Original Code：
[code]

[2021-05-25 12:33] silence-coding commented on #56
Generated after EA：

[code]

[2021-08-21 17:48] lenis0012 commented on #36
I saw this in the readme and couldn't help but think how it would be done.
I saw there are already 2 issues so i'm not making a new one, but it's an interesting example.

two problems make it difficult.
1. The bank decrement has no error handling, so the later possible exception in inventory cannot be caught using `exceptionally` as it would not guarantee the cost was decremented
2. The inventory

[2021-09-13 05:30] vipcxj commented on #58
I have develop a async-await enchancer for java too
[JAsync](https://github.com/vipcxj/jasync)
It will release the first version in these day. It was created to improve the debugging experience.

[2021-09-15 15:26] vipcxj commented on #54
@HaloFour
I release a new project [JAsync](https://github.com/vipcxj/jasync) implement async-await fashion in java which use Reactor as its low level framework. It is in the alpha stage.  I need more suggest and test case.
This project makes the developer's asynchronous programming experience as close as possible to the usual synchronous programming, including both coding and debugging.

![98G39DX

[2021-09-15 15:29] vipcxj commented on #57
我也开发了一个 async-await库[JAsync](https://github.com/vipcxj/jasync)，有兴趣来看看~

[2021-09-18 02:35] dwing4g commented on #57
这个看上去是对源码做处理? 而绝大多数协程库都是处理字节码的.

[2021-09-18 04:10] vipcxj commented on #57
@dwing4g
就是修改语法树，从结果上来看其实还是改了最终的字节码

[2021-09-18 07:24] dwing4g commented on #57
@vipcxj
看起来有点繁琐呀, 生成出大量的lambda, 感觉不如变换成状态机性能高,
而且语法层面比字节码要复杂得多, 容易遇到意想不到或难以变换的语法结构.
不过对我来说, 更麻烦的是JAsync依赖Reactor, 我只想要个简洁干净的协程支持,
像EA-Async处理完字节码后无任何依赖(包括EA-Async本身也不依赖了).

[2021-09-18 07:35] vipcxj commented on #57
JAsync 异步逻辑实现是分离的，依赖Reactor的是单独一个库，jasync-reactive，只是因为目前我只实现了这一个。如果有需要只要用CompleteFuture实现对应接口，比如PromiseProvider和JPromise，就能不依赖Reactor了。
至于繁琐什么的，这对使用者来说又不是个事，繁琐的是我这个开发者啊~ 而且从结果上来说，也实现了debug模式这个功能~

[2021-09-18 08:05] andy-yx-chen commented on #57
JAsync looks pretty good, but in the end, https://github.com/openjdk/loom this will take place, I would recommend switch to kotlin, which has more modernized language features and also support coroutines, don't stick on Java...

[2021-09-18 08:20] vipcxj commented on #57
@andy-yx-chen
Java 9 introduce the Flow api, but Reactor is not dead.

[2021-09-18 09:19] dwing4g commented on #57
@vipcxj
自己实现JPromise接口太繁琐了, 一堆方法要实现, 而且也不清楚怎么实现.
最好能给个依赖最小,最简单,可以单独跑的协程例子,
非Reactor开发者现在一看到README里的大段代码很容易放弃,找别的协程库去了.

[2021-09-18 11:40] vipcxj commented on #57
这年头连maven，gradle都不用的人多半也不会用这库了~ 不过JAsync并不依赖maven，gradle这些工具，它就是个annotation processor，有javac就能用，但教人怎么使用javac配置apt显然更没意义。
至于对CompleteFuture的支持，以后会有的，饭要一口一口吃。至于为什么第一个实现是Reactor，自然是背靠大树好乘凉，写java的用spring的人太多了。

[2021-09-18 14:35] dwing4g commented on #57
@vipcxj
唉...字里行间满满地透露出自以为是, 怎么还好意思来这里挑战ea-async

[2021-09-18 15:09] vipcxj commented on #57
@dwing4g 你高兴就好

[2021-12-08 08:12] arcral commented on #57
评论好看😄

[2022-01-03 16:09] customautosys opened #61 "Use with GWT"
Hi, is there any way to use this for GWT? I tried to put ```<inherits name="com.ea.async.Async" />``` in my GdxDefinition.gwt.xml and ```api "com.ea.async:ea-async:$eaAsyncVersion:sources"``` in my GWT build.gradle but the build fails. I already used await all over the place in my desktop and Android code so it would be too troublesome to redo all of that and remove this library.

[2022-01-21 08:11] wangxi761 opened #62 "the meaning of "executePhase" and "executeGoal" in plugin.xml ?"
with   this  paramter in plugin.xml , plugin will fork some plugin executions ,and run twice ,such as
maven-resources-plugin
maven-compiler-plugin

can you explain the meaning of  "executePhase" and "executeGoal"  and why should we  run the plugin before "process-classes" phase again?

[2022-03-09 09:49] sampopes commented on #44
@Tancred423 Facing the issue, did find you a solution ?

[2022-03-09 11:47] tancred423 commented on #44
No sorry :( ended up just not using it

[2022-03-29 04:05] ctemple commented on #19
dependencies {
    ...
    compileOnly "com.ea.async:ea-async:1.2.1"
}

task instrument(type: JavaExec) {
    main = 'com.ea.async.instrumentation.Main'
    classpath = sourceSets.main.compileClasspath
    args "$buildDir"
}

compileJava.finalizedBy(instrument)

[2022-09-06 20:26] jpines-vi commented on #34
I am seeing this, too, even while my code (under test) runs as expected. Would a reproducer be helpful?